﻿@model BulkyBook.Models.ViewModels.ProductVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
	<input asp-for="Product.Id" hidden />
	<input asp-for="Product.ImageUrl" hidden />

	<div class="row">
		<div class="col-10">
			<div class="border p-3 mt-4 row">
				<div class="col-12 pb-2">
					<h2 class="text-primary">@(Model.Product.Id != 0 ? "Update" : "Create") Product</h2>
					<hr />
				</div>
				<div class="mb-3">
					<label asp-for="Product.Title"></label>
					<input asp-for="Product.Title" class="form-control" />
					<span asp-validation-for="Product.Title" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Product.Description"></label>
					<textarea asp-for="Product.Description" rows="3" class="form-control"></textarea>
					<span asp-validation-for="Product.Description" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Product.ISBN"></label>
					<input asp-for="Product.ISBN" class="form-control" />
					<span asp-validation-for="Product.ISBN" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Product.Author"></label>
					<input asp-for="Product.Author" class="form-control" />
					<span asp-validation-for="Product.Author" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Product.ListPrice"></label>
					<input asp-for="Product.ListPrice" class="form-control" />
					<span asp-validation-for="Product.ListPrice" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Product.Price"></label>
					<input asp-for="Product.Price" class="form-control" />
					<span asp-validation-for="Product.Price" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Product.Price50"></label>
					<input asp-for="Product.Price50" class="form-control" />
					<span asp-validation-for="Product.Price50" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Product.Price100"></label>
					<input asp-for="Product.Price100" class="form-control" />
					<span asp-validation-for="Product.Price100" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Product.ImageUrl"></label>
					<input type="file" id="imageUrl" name="file" class="form-control" />
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Product.CategoryId"></label>
					<select asp-for="Product.CategoryId" asp-items="@Model.CategoryDropDownList" class="form-select">
						<option disabled selected> Select Category </option>
					</select>
					<span asp-validation-for="Product.CategoryId" class="text-danger"></span>
				</div>
				<div class="mb-3 col-6">
					<label asp-for="Product.CoverTypeId"></label>
					<select asp-for="Product.CoverTypeId" asp-items="@Model.CoverTypeDropDownList" class="form-select">
						<option disabled selected> Select Cover Type </option>
					</select>
					<span asp-validation-for="Product.CoverTypeId" class="text-danger"></span>
				</div>
				<div class="col-12">
					@if (Model.Product.Id != 0)
					{
						<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
					}
					else
					{
						<button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
					}
					<a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
						Back
					</a>
				</div>

			</div>
		</div>
		<div class="col-2 pt-4">
			<img src="@Model.Product.ImageUrl"
				 style="width:100%; border-radius:5px; border:1px solid #bbb9b9;" />
		</div>
	</div>


</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial"> </partial>
	}
	<script>
		tinymce.init({
			selector: 'textarea',
			plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
			toolbar_mode: 'floating',
			height: "250",
		});

		function ValidateInput() {
			if (document.getElementById("imageUrl").value == "") {
				Swal.fire({
					icon: 'error',
					title: 'Oops...',
					text: 'Please upload an image!'
				});
				return false;
			}
			return true;
		}
	</script>
}