﻿@model IEnumerable<CoverType>
@{
	ViewData["Title"] = "Index";
}

<div class="container pt-4">
	<div class="row p-4">
		<div class="col-6">
			<h2 class="primary-text">List of Cover Types</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="CoverType" asp-action="Create" class="btn btn-primary">
				<i class="bi bi-plus-circle"></i> &nbsp; Create new Cover Type
			</a>
		</div>
	</div>
	<br /> <br />

	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Name of Cover Type
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var obj in Model)
			{
				<tr>
					<td width="50%">
						@obj.Name
					</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a asp-controller="CoverType" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
								<i class="bi bi-pencil-square"></i> Edit
							</a>
							<a asp-controller= "CoverType" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
								<i class="bi bi-trash3"></i> Delete
							</a>
						</div>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>