﻿@page
@model AbbyWeb.Pages.Categories.EditModel

<form method="post">
	<input type="hidden" asp-for="Category.Id" />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary pl-3">Edit Category</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="Category.Name"></label>
			<input asp-for="Category.Name" class="form-control" />
			<span asp-validation-for="Category.Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Category.DisplayOrder"></label>
			<input asp-for="Category.DisplayOrder" class="form-control" />
			<span asp-validation-for="Category.DisplayOrder" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px;">Update</button>
		<a asp-page="Index" class="btn btn-secondary" style="width:150px;">Back to List</a>

	</div>
</form>

@section Scripts
	{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	}