﻿
<div class="container pt-4">
	<div class="row p-4">
		<div class="col-6">
			<h2 class="primary-text">Company List</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Company" asp-action="Upsert" class="btn btn-primary">
				<i class="bi bi-plus-circle"></i> &nbsp; Create new Company
			</a>
		</div>
	</div>
	<br /> <br />

	<table id="tblData" class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>Name</th>
				<th>City</th>
				<th>Address</th>
				<th>State</th>
				<th>Phone number</th>
				<th></th>
			</tr>
		</thead>
	</table>
</div>

@section Scripts
{
	<script src="~/js/company.js"></script>
}