﻿@model IEnumerable<Category>
@{
	ViewData["Title"] = "Index";
}


<div class="container pt-3">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">Category List</h2>
		</div>
		<div class="col-6 text-end">
			<a asp-controller="Category" asp-action="Create" class="btn btn-primary">
				<i class="bi bi-plus-circle"></i> &nbsp; Create new Category
			</a>
		</div>
	</div>
	<br /><br />


	<table class="table table-bordered table-striped" style="width:100%">
		<thead>
			<tr>
				<th>
					Category Name
				</th>
				<th>
					Display Order
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var obj in Model)
			{
				<tr>
					<td width="50%">
						@obj.Name
					</td>
					<td width="30%">
						@obj.DisplayOrder
					</td>
					<td>
						<div class="btn-group" role="group">
							<a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id"
							class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Edit</a>
							<a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id"
							class="btn btn-danger mx-2"><i class="bi bi-trash3"></i> Delete</a>
						</div>
					</td>
				</tr>
			}
		</tbody>

	</table>
</div>