﻿@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Successfully!</h1>
        Order Number : @Model <br /><br />
        <img src="~/images/orderConfirmation.png" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Payment has been applied successfully! <br /><br/>
        <a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model"
        class="btn btn-outline-info">
            Back to Order Details
        </a>
    </div>
</div> 

